@page
@model IndexModel
@using CommandCenter.Server
@namespace CommandCenter.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="5">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css" integrity="sha384-l7xaoY0cJM4h9xh1RfazbgJVUZvdtyLWPueWNtLAphf/UbBgOVzqbOTogxPwYLHM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style type="text/css">
        .text-glow {
            text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;        
        }
        .text-transparent {
            color: rgba(0,0,0,0.0);
        }
    </style>
</head>
<body class="bg-transparent h-100">
    <main class="h-100 d-flex flex-column justify-content-around align-items-stretch align-self-stretch">
        <div class="d-flex flex-row justify-content-around align-items-center">
            <i class="fa fa-comments fa-4x d-block @(Model.ShowChat ? "text-info text-glow" : "text-muted")"></i>
            <i class="fa fa-check fa-2x d-block @(Model.ShowChat ? "text-transparent" : "text-success")"></i>
        </div>
        <div class="d-flex flex-row justify-content-around align-items-center">
            <i class="fa fa-code-fork fa-4x d-block @(Model.ShowPrep ? "text-info text-glow" : "text-muted")"></i>
            <i class="fa fa-check fa-2x d-block @(Model.ShowPrep ? "text-transparent" : "text-success")"></i>
        </div>
        <div class="d-flex flex-row justify-content-around align-items-center">
            <i class="fa fa-code fa-4x d-block @(Model.ShowCode ? "text-info text-glow" : "text-muted")"></i>
            <i class="fa fa-check fa-2x d-block @(Model.ShowCode ? "text-transparent" : "text-success")"></i>
        </div>
        <div class="d-flex flex-row justify-content-around align-items-center">
            <i class="fa fa-terminal fa-4x d-block @(Model.ShowWrap ? "text-info text-glow" : "text-muted")"></i>
            <i class="fa fa-check fa-2x d-block @(Model.ShowWrap ? "text-transparent" : "text-success")"></i>
        </div>
    </main>
</body>
</html>